<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg  navbar-dark bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/logout">Sign Out</a>
            </li>
        
            </ul>
        </div>
    </nav>
   <div style="padding: 10%; padding-top: 5em !important;">
    <table border="1px" >
        <thead>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Status</th>
            <th>Approve</th>
        </thead>
        <tbody>
            <% for(var i=0; i < data.length; i++) { %>
            <tr>
                <td><%= data[i].username  %></td>
                <td><%= data[i].fname  %></td>
                <td><%= data[i].lname  %></td>
                <td><%= data[i].status  %></td>
                <td>
                    <button class="btn btn-success" onclick="approve(<%= data[i].id  %>) <% data[i].status=="approve" ? 'disabled': '' %>">Approve</button>
                    <button class="btn btn-danger" onclick="decline(<%= data[i].id  %>) <% data[i].status=="approve" ? 'disabled': '' %>">Decline</button>
                </td>
                <!-- <td><a href="update/<%= data[i].id %>/<%= data[i].pname %>/<%= data[i].pprice %>/<%= data[i].pquan %>/">edit</a> </td> -->
            </tr>
            <% } %>
        </tbody>
    </table>
       
   </div>
   
    
</body>
</html>
<script>
    $("table").DataTable();
    function approve(data){
        $.ajax({
            type: "POST",
            url: "/approveappliaction",
            data:{upid:data},
            success:()=>{
                location.reload(true);
            }
        });
    }
    function decline(data){
        $.ajax({
            type: "POST",
            url: "/declineappliaction",
            data:{upid:data},
            success:()=>{
                location.reload(true);
            }
        });
    }
  
  
</script>
